.dockerignore
.gcloudignore
.git
.github
.svelte-kit
.vscode
.eslintignore
.eslintrc.cjs
.gitignore
.npmrc
.prettierignore
.prettierrc
.DS_Store
.svelte-kit
.env
.env.example
.vscode
node_modules
coverage
build
cloudbuild*
LICENSE
!.env.production
